{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="post-view">
  <div class="larger-view-container">
    <div class="post-container">
      <div class="post-view-top-row">
        <h4>{{post.title}}</h4>
        <span class="post-view-time">{{post.date}}</span>
      </div>
      <hr />
      <div class="post-view-middle-row">
        <p>{{post.content}}</p>
      </div>
      <div class="post-view-bottom-row">
        <span>{{ post.author.username }}</span>
        <div class="post-view-like-group">
          {% if post.author.username != user.username %} {% if liked %}
          <a href="{% url 'post-like' post.key %}?next={{ request.path|urlencode }}">
            <svg
              style="
                fill: #df2626;
              "
              class="post-view-like"
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                opacity="0.1"
                d="M4.8824 12.9557L10.5021 19.3071C11.2981 20.2067 12.7019 20.2067 13.4979 19.3071L19.1176 12.9557C20.7905 11.0649 21.6596 8.6871 20.4027 6.41967C18.9505 3.79992 16.2895 3.26448 13.9771 5.02375C13.182 5.62861 12.5294 6.31934 12.2107 6.67771C12.1 6.80224 11.9 6.80224 11.7893 6.67771C11.4706 6.31934 10.818 5.62861 10.0229 5.02375C7.71053 3.26448 5.04945 3.79992 3.59728 6.41967C2.3404 8.6871 3.20947 11.0649 4.8824 12.9557Z"
                fill="#323232"
              />
              <path
                d="M4.8824 12.9557L10.5021 19.3071C11.2981 20.2067 12.7019 20.2067 13.4979 19.3071L19.1176 12.9557C20.7905 11.0649 21.6596 8.6871 20.4027 6.41967C18.9505 3.79992 16.2895 3.26448 13.9771 5.02375C13.182 5.62861 12.5294 6.31934 12.2107 6.67771C12.1 6.80224 11.9 6.80224 11.7893 6.67771C11.4706 6.31934 10.818 5.62861 10.0229 5.02375C7.71053 3.26448 5.04945 3.79992 3.59728 6.41967C2.3404 8.6871 3.20947 11.0649 4.8824 12.9557Z"
                stroke="#323232"
                stroke-width="2"
                stroke-linejoin="round"
              />
            </svg>
          </a>
          {% else %}
          <a href="{% url 'post-like' post.key %}?next={{ request.path|urlencode }}">
            <svg
              style="fill: #ffffff"
              class="post-view-like"
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                opacity="0.1"
                d="M4.8824 12.9557L10.5021 19.3071C11.2981 20.2067 12.7019 20.2067 13.4979 19.3071L19.1176 12.9557C20.7905 11.0649 21.6596 8.6871 20.4027 6.41967C18.9505 3.79992 16.2895 3.26448 13.9771 5.02375C13.182 5.62861 12.5294 6.31934 12.2107 6.67771C12.1 6.80224 11.9 6.80224 11.7893 6.67771C11.4706 6.31934 10.818 5.62861 10.0229 5.02375C7.71053 3.26448 5.04945 3.79992 3.59728 6.41967C2.3404 8.6871 3.20947 11.0649 4.8824 12.9557Z"
                fill="#323232"
              />
              <path
                d="M4.8824 12.9557L10.5021 19.3071C11.2981 20.2067 12.7019 20.2067 13.4979 19.3071L19.1176 12.9557C20.7905 11.0649 21.6596 8.6871 20.4027 6.41967C18.9505 3.79992 16.2895 3.26448 13.9771 5.02375C13.182 5.62861 12.5294 6.31934 12.2107 6.67771C12.1 6.80224 11.9 6.80224 11.7893 6.67771C11.4706 6.31934 10.818 5.62861 10.0229 5.02375C7.71053 3.26448 5.04945 3.79992 3.59728 6.41967C2.3404 8.6871 3.20947 11.0649 4.8824 12.9557Z"
                stroke="#323232"
                stroke-width="2"
                stroke-linejoin="round"
              />
            </svg>
          </a>
          {% endif %} {% endif %} {% if post.likes == 1 %}
          <span>{{post.likes}} like</span>
          {% else %}
          <span>{{post.likes}} likes</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="comment-container">
      <div class="add-comment">
        <form method="POST">
          {% csrf_token %} {{ form|crispy }}
          <div class="form-group">
            <button class="btn btn-outline-success" type="submit">
              Add Comment
            </button>
          </div>
        </form>
      </div>
      <div class="current-comments">
        <h5>Comments</h5>
        <hr />
        {% for comment in comments %}
        <div class="comment">
          <div class="comment-top-row">
            <div class="badges">
              {% if comment.comment.user.username == user.username %}
              <span class="badge rounded-pill bg-primary">You</span>
              {% else %}
              <span class="badge rounded-pill bg-dark">{{comment.comment.user.username}}</span>
              {% endif %} {% if post.author.username == comment.comment.user.username %}
              <span class="badge rounded-pill bg-secondary">Author</span>
              {% endif %}
            </div>
            <div class="comment-date-container">
              {% if comment.comment.edited == 1%}
              last updated 
              {% endif %}
              <span class="comment-date" style="font-weight: bold;">{{comment.comment.date}}</span> {% if comment.comment.edited == 1%}
              <span class="badge rounded-pill bg-secondary">edited</span>
              {% endif %}
            </div>
          </div>
          <hr />
          <div class="collapse show comment-content" id="comment-{{comment.comment.key}}">
            <p class="comment-content">"{{comment.comment.comment}}"</p>
          </div>
          {% if comment.comment.user.username == user.username %}
          <div class="collapse" id="comment-{{comment.comment.key}}">
            <form method="POST" action="/comment/{{comment.comment.key}}/{{post.key}}/update">
              {% csrf_token %} {{ comment.update_comment_form|crispy }}
              <div class="form-group">
                <button class="btn btn-outline-success" type="submit">
                  Update Comment
                </button>
              </div>
            </form>
          </div>
          {% endif %}
          <div class="comment-buttons">
            {% if comment.comment.user.username == user.username %}
            <button class="btn btn-default" type="button" data-bs-toggle="collapse" data-bs-target="#comment-{{comment.comment.key}}" role="button" aria-expanded="false" aria-controls="comment-{{comment.comment.key}}">
              <svg
              class="edit-svg"
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title />
  
              <g id="Complete">
                <g id="edit">
                  <g>
                    <path
                      d="M20,16v4a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H8"
                      fill="none"
                      stroke="#000000"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    />
  
                    <polygon
                      fill="none"
                      points="12.5 15.8 22 6.2 17.8 2 8.3 11.5 8 16 12.5 15.8"
                      stroke="#000000"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    />
                  </g>
                </g>
              </g>
            </svg>
            </button>
            <div class="delete">
              <a href="/comment/{{comment.comment.key}}/{{post.key}}/delete">
                <svg
                  class="delete-svg"
                  width="20px"
                  height="20px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 7V18C6 19.1046 6.89543 20 8 20H16C17.1046 20 18 19.1046 18 18V7M6 7H5M6 7H8M18 7H19M18 7H16M10 11V16M14 11V16M8 7V5C8 3.89543 8.89543 3 10 3H14C15.1046 3 16 3.89543 16 5V7M8 7H16"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
