{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="profile-header">
  <div class="profile-banner">
    <div class="profile-image-container">
      <img
        class="rounded-circle account-img"
        src="{{ user_to_view.profile.image.url }}"
      />
    </div>
    <div class="profile-content">
        <span class="user-username"> {{user_to_view.username}}</span>
        <hr/>
        <span class="user-bio"> {{user_to_view.profile.bio}} </span>
      </div>
  </div>
</div>
<div class="profile-posts">
  {% if user_to_view.profile.visibility == 'PUBLIC' %}
  </h1>
  <h3>{{ user_to_view.username }}'s Posts</h3>
  {% for post in posts %}
  <div class="profile-post">
    <div class="info">
      <div class="post-info-date-wrapper">
        <h3 class="profile-post-title">{{post.title}}</h3>
        <span class="profile-post-date">{{post.date}}</span>
      </div>
      <hr>
    <p class="home-post-content">"{{post.content}}"</p>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <h3>Profile is Private</h3>
  {% endif %}
</div>
{% endblock content %}
