{% extends "kwh/base.html" %} {% load highlight %} {% block content %}
<div class="file-view-container">
  <div class="search-form">
    <form class="d-flex" action="{% url 'kwh-view'%}" , method="POST">
      {% csrf_token %}
      <input
        class="form-control me-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
        name="keyword"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  {% if query %}
  <div class="search-filter">Search Query: {{ query }}</div>
  {% endif %}
  <div class="file-view">
    {% for group in page_obj %}
    <div class="group">
      {% for line_number, line in group.group %}
      <div class="line-group d-flex">
        {{ line_number }}.&nbsp&nbsp<pre class="file-line">{{ line|highlight_yellow:keyword }}</pre>
      </div>

      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a class="btn btn-primary btn-sm" href="{%url 'kwh-view' %}?page=1">&laquo; first</a>
          <a class="btn btn-primary btn-sm" href="{%url 'kwh-view' %}?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a class="btn btn-primary btn-sm" href="{%url 'kwh-view' %}?page={{ page_obj.next_page_number }}">next</a>
          <a class="btn btn-primary btn-sm" href="{%url 'kwh-view' %}?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock content %}
